ProjectUnitTest/ProjectUnitTest.csproj
ProjectUnitTest/UnitTest1.cs
ProjectUnitTest/obj/ProjectUnitTest.csproj.nuget.cache
ProjectUnitTest/obj/project.assets.json
ProjectUnitTest/obj/ProjectUnitTest.csproj.nuget.dgspec.json
ProjectUnitTest/obj/ProjectUnitTest.csproj.nuget.g.props
ProjectUnitTest/obj/ProjectUnitTest.csproj.nuget.g.targets
LeadCargo.sln
ProjectUnitTest/*
